<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="dbPublicitiAdministrador" connectionString="Data Source=CINTHYA-PC\SQLEXPRESS; Initial Catalog = dbPubliciti; Integrated Security=false; User ID=sa; Password=mexcaltitan01;" providerName="System.Data.SqlClient"/>
    <add name="dbPublicitiLector" connectionString="Data Source=CINTHYA-PC\SQLEXPRESS; Initial Catalog = dbPubliciti; Integrated Security=false; User ID=lector; Password=lector;" providerName="System.Data.SqlClient"/>
    <add name="dbPublicitiModificador" connectionString="Data Source=CINTHYA-PC\SQLEXPRESS; Initial Catalog = dbPubliciti; Integrated Security=false; User ID=lector; Password=lector;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <siteMap enabled="false"></siteMap>
    </system.web>
  <appSettings>
    <add key="remitente" value="publiciti.ingenieria@gmail.com" />
    <add key="remitenteClave" value="EnHeCy2014" />
    <add key="destinatarios" value="cjaureguijimenez@gmail.com" />
    <add key="bitacora" value="C:\Users\cjauregui\Documents\Visual Studio 2013\WebSites\PublicitiII\Bitacora.txt" />
  </appSettings>
</configuration>
